<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Đăng Ký</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css2/font-awesome.min.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css2/style.css}" type="text/css" />
</head>
<body>
<h1 class="w3ls" th:text="${title}">Đăng Ký</h1>

<div class="content-w3ls">
    <div class="content-agile1">
        <h2 class="agileits1">Official</h2>
        <p class="agileits2">Chào mừng người dùng mới.</p>
    </div>
    <div class="content-agile2">
        <div th:if="${error != null}" style="color: red; text-align: center; margin-bottom: 3px;">
            <span th:text="${error}"></span>
        </div>

        <form th:action="@{/account/register}" method="post">
            <div class="form-control w3layouts">
                <input type="text" name="fullName" id="password" placeholder="Họ và Tên" required />
            </div>

            <div class="form-control w3layouts">
                <input type="email" name="email" id="password" placeholder="Email" required />
            </div>

            <div class="form-control agileinfo" style="position: relative;">
                <input type="password" class="lock" name="password" id="password" placeholder="Mật Khẩu" required />
                <i id="togglePassword" class="fa fa-eye" style="position: absolute; right: 110px; top: 50%; transform: translateY(-50%); cursor: pointer; font-size: 20px; color: #888"></i>
            </div>

            <div class="form-control agileinfo">
                <input type="text" class="lock" name="phone" id="password" placeholder="Số Điện Thoại" required />
            </div>

            <div class="form-control agileinfo">
                <input type="text" class="lock" name="address" id="password" placeholder="Địa Chỉ" required />
            </div>

            <input type="submit" class="register" value="Đăng Ký" />
            <p class="wthree w3l">Bạn đã có tài khoản? <a th:href="@{/login}">Đăng nhập</a></p>
        </form>

    </div>
    <div class="clear"></div>
</div>

<script>
    const togglePassword = document.getElementById('togglePassword');
    const password = document.getElementById('password');

    togglePassword.addEventListener('click', function () {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye');
        this.classList.toggle('fa-eye-slash');
    });
</script>

</body>
</html>

